body {
    font-family: sans-serif;
    background-color: #3b3b3b;
    color: #fff;
}

#doc {
    width: 850px;
    position: relative;
    z-index: 0;
}

#hd {
    border: none;
    margin-bottom: -23px;
    position: relative;
    z-index: 100;
    background: url("/ppw2010/images/css/ppw/large-header-bg.png") top left no-repeat;
    color: #000;
    width: 850px;
    height: 300px;
}
#hd img {
    margin: 15px;
    margin-top: 20px;
    margin-left: 21px;
    height: 200px;
    width: 800px;
}

#hd #page-title {
    margin: 15px;
    margin-top: 0px;
    margin-left: 21px;
    padding: 0px;
}

#bd {
    z-index: 50;
    margin-left: 22px;
    margin-right: 25px;
    width: 800px;
}

#ft {
    margin-left: 30px;
    margin-right: 30px;
    width: 800px;
}
#ft p {
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    font-size: x-small;
}

#ft a, #ft a:visited {
    color: #fff;
}

#nav {
    background: url("/ppw2010/images/css/ppw/nav-footer-bg.png") bottom left repeat-x;
    background-color: #181818;
    color: #fff;
    padding-bottom: 30px;
}

#nav a, #nav a:visited {
    color: #fff;
}

#bd,
#yui-main,
#content {
    background-color: #fff;
    color: #000;
}

#content {
    padding-top: 15px;
    padding-bottom: 15px;
}

#content-text {
    line-height: 1.3em;
    font-size: small;
    padding-right: 15px;
}

#nav dl {
    font-size: small;
    margin-top: 15px;
}

#nav dl dt {
    background: url("/ppw2010/images/css/ppw/nav-header-bg.png") bottom left repeat-x;
    padding: 5px;
}

#nav dl dt, #nav dl dt a, #nav dl dt a:visited {
    color: #000;
    font-weight: bold;
}

#nav dl dd, #nav dl dd a, #nav dl dd a:visited {
    font-weight: normal;
    color: #fff;
}
#nav dl dd {
    margin-left: 30px;
    padding-left: 0px;
}

#nav dl dt, #nav dl dd {
    margin-bottom: 5px;
}

.news-entry {
    margin-bottom: 35px;
}

.news-date {
    float: left;
    color: #3b3b3b;
    min-width: 85px;
    width: 85px;
    text-align: right;
}

.news-title {
    float: left;
    margin-left: 100px;
    position: absolute;
    font-weight: bold;
}

.news-text {
    clear: both;
    margin-left: 100px;
}

.newsbox {
    margin-top: 25px;
}

.location-name {
    font-weight: bold;
    margin-left: 100px;
}

.location-text {
    margin-left: 100px;
}

.location-cat {
    float: left;
    min-width: 85px;
    position: absolute;
    width: 85px;
    text-align: right;
    padding-right: 15px;
    color: #3b3b3b;
}

.location-item {
    float: left;
    margin-left: 100px;
    margin-bottom: 1em;
}

.location-detail {
    clear: both;
}

.location_name {clear: both}

.eatery-cuisine,
.eatery-price,
.eatery-notes,
.attraction-uri,
.attraction-price,
.attraction-notes { display: block; }

.naked-content {
    margin-left: 100px;
}

.sponsor-logo {
    float: right;

}

.gsgborder {
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 10px;
}
.gsgli {
    margin-left: 20px;
    padding: 0px;
    list-style: circle;
}
.gsgul {
    margin: 0px;
    padding: 0px;
}


/* followus - The "Follow us" box on the main page. */
#followus {
    float: right;
    max-width: 125px;
    margin-left: 5px;
    border-style: outset;
    padding: 0px;
}

#followus p {
   font-size: larger;
   margin: 5px;
}

#followus ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

#followus li {
   padding: 3px;
   margin-left: 2px;
}

